[submodule "fsfw_common"]
	path = example_common
	url = https://egit.irs.uni-stuttgart.de/fsfw/fsfw-example-common.git
[submodule "generators/fsfwgen"]
	path = generators/fsfwgen
	url = https://egit.irs.uni-stuttgart.de/fsfw/fsfw-gen.git
[submodule "fsfw"]
	path = fsfw
	url = https://egit.irs.uni-stuttgart.de/fsfw/fsfw.git
[submodule "tmtc/tmtccmd"]
	path = tmtc/deps/tmtccmd
	url = https://github.com/robamu-org/tmtccmd.git
[submodule "tmtc/common_tmtc"]
	path = tmtc/common_tmtc
	url = https://egit.irs.uni-stuttgart.de/fsfw/fsfw-example-tmtc-common.git
[submodule "tmtc/spacepackets"]
	path = tmtc/deps/spacepackets
	url = https://github.com/robamu-org/py-spacepackets.git
