# PyCharm
/.idea/*
!/.idea/runConfigurations
!/.idea/cmake.xml
!/.idea/codeStyles

# Python 
__pycache__
/venv


# Eclipse
.cproject
.project
!misc/eclipse/**/.project
!misc/eclipse/**/.cproject
.pydevproject
.settings
.metadata


# Build folders
/build*
/cmake-build*

_dep
_obj
_bin
Makefile*
!**/make/Makefile*

# GCOV
*.gcno

# Visual Studio
.vs
out

